DATABASE_URL="postgresql://neondb_owner:YOUR_PASSWORD@YOUR_HOST/neondb?sslmode=require"
JWT_SECRET="your-super-secret-jwt-key-minimum-32-chars-long"
JWT_EXPIRES_IN="2h"
PORT=5000
NODE_ENV="development"
FRONTEND_URL="http://localhost:5173"
BCRYPT_ROUNDS=12
